body{
 background: #444444;
 color: #EAEAEA;
 font-family: "Century Gothic";
 padding: 5px;
}
#nav > ul > li{
 display: inline-block;
 margin-left: 1em;
 color: #EAEAEA;
 padding: 12px;
 color: #EAEAEA;
 line-height: 3.5em;
 text-transform: up-uppercase;
 font-size: 33px;
 margin: auto;
}
#nav button{
 border: none;
 background: #444444;
 color: #EAEAEA;
 line-height: 3.5em;
 text-transform:uppercase;
 font-size: 28px;
}
.container #nav{
 position: static;
 right: none;
 text-align: center;
 position: relative;
 right:30px;
}
#banner{
 overflow: hidden;
 width: 1000px;
 margin: 0px auto;
 background: #444444;
 padding: 50px 70px;
}
p{
 font-size: 30px;
 text-align: justify;
 letter-spacing: 2px;
}
#banner h1{
 text-transform: uppercase;
 text-align: center;
 font-size: 75px;
}
#li2{
 color: #1CA5FF;
}
#li3{
 color: #FF8631;
}
#li4{
 color: #27B44B;
}
#li5{
 color: #E45845;
}
#li6{
 color: #BC5BE6;
}
headicons{
    float: right;
    text-align: right;
    clear: both;
}
footer{
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    clear: both;
    padding-top: 50px;
    margin-bottom: auto;
    color: #EAEAEA;
}

.social{
    width: 25px;
    margin: 10px 5px;
}
